@using ETicaretAPI.Domain.Entities

@{
    ViewData["Title"] = "GetProducts";
}




@model List<Product>
<table>
    <thead>
        <tr>
            
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>CreateDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.CreateDate</td>
            </tr>
        }
    </tbody>
</table>

